In [150]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
# Bom Movie Gross

In [182]:
bom = pd.read_csv('Data/bom.movie_gross.csv')
bom.head()
bom.shape

(3387, 5)

In [117]:
bom = bom.dropna(subset = ['studio','domestic_gross', 'foreign_gross'])
bom['studio'].isna().value_counts()

False    2007
Name: studio, dtype: int64

In [118]:
bom.shape

(2007, 5)

In [174]:
bom.groupby(['studio']).head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3258,A Private War,Aviron,1600000.0,2200000,2018
3268,Billionaire Boy's Club,VE,1300.0,2500000,2018
3271,Bilal: A New Breed of Hero,VE,491000.0,1700000,2018
3309,Time Freak,Grindstone,10000.0,256000,2018
3342,Reign of Judges: Title of Liberty - Concept Short,Darin Southa,93200.0,5200,2018

In [100]:
studio_info= {}
studios = list(bom.studio.unique())

for studio in studios:
    studio_info[studio] = None

ValueError: No axis named year for object type <class 'pandas.core.frame.DataFrame'>

In [5]:
bom.columns

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [6]:
bom.shape

(3387, 5)

In [7]:
bom['studio'].unique()

array(['BV', 'WB', 'P/DW', 'Sum.', 'Par.', 'Uni.', 'Fox', 'Wein.', 'Sony',
       'FoxS', 'SGem', 'WB (NL)', 'LGF', 'MBox', 'CL', 'W/Dim.', 'CBS',
       'Focus', 'MGM', 'Over.', 'Mira.', 'IFC', 'CJ', 'NM', 'SPC', 'ParV',
       'Gold.', 'JS', 'RAtt.', 'Magn.', 'Free', '3D', 'UTV', 'Rela.',
       'Zeit.', 'Anch.', 'PDA', 'Lorb.', 'App.', 'Drft.', 'Osci.', 'IW',
       'Rog.', nan, 'Eros', 'Relbig.', 'Viv.', 'Hann.', 'Strand', 'NGE',
       'Scre.', 'Kino', 'Abr.', 'CZ', 'ATO', 'First', 'GK', 'FInd.',
       'NFC', 'TFC', 'Pala.', 'Imag.', 'NAV', 'Arth.', 'CLS', 'Mont.',
       'Olive', 'CGld', 'FOAK', 'IVP', 'Yash', 'ICir', 'FM', 'Vita.',
       'WOW', 'Truly', 'Indic.', 'FD', 'Vari.', 'TriS', 'ORF', 'IM',
       'Elev.', 'Cohen', 'NeoC', 'Jan.', 'MNE', 'Trib.', 'Rocket',
       'OMNI/FSR', 'KKM', 'Argo.', 'SMod', 'Libre', 'FRun', 'WHE', 'P4',
       'KC', 'SD', 'AM', 'MPFT', 'Icar.', 'AGF', 'A23', 'Da.', 'NYer',
       'Rialto', 'DF', 'KL', 'ALP', 'LG/S', 'WGUSA', 'MPI', 'RTWC', 'FIP',
       'RF', 'ArcEnt', 'PalUni', 'EpicPics', 'EOne', 'LD', 'AF', 'TFA',
       'Myr.', 'BM&DH', 'SEG', 'PalT', 'Outs', 'OutF', 'BSM', 'WAMCR',
       'PM&E', 'A24', 'Cdgm.', 'Distrib.', 'Imax', 'PH', 'HTR', 'ELS',
       'PI', 'E1', 'TVC', 'FEF', 'EXCL', 'MSF', 'P/108', 'FCW', 'XL',
       'Shout!', 'SV', 'CE', 'VPD', 'KE', 'Saban', 'CF&SR', 'Triu', 'DR',
       'Crnth', 'Ampl.', 'CP', 'Proud', 'BGP', 'Abk.', 'DLA', 'B360',
       'BWP', 'SEA', 'RME', 'KS', 'VE', 'LGP', 'EC', 'FUN', 'STX', 'AR',
       'BG', 'PFR', 'BST', 'BH Tilt', 'BSC', 'U/P', 'UHE', 'CLF', 'FR',
       'AaF', 'Orch.', 'Alc', 'PBS', 'SHO', 'Grav.', 'Gathr', 'Asp.',
       'ADC', 'Rel.', 'SM', 'AZ', 'UEP', 'ITL', 'TA', 'MR', 'BBC',
       'CFilms', 'Part.', 'FOR', 'TAFC', 'JBG', 'PNT', 'CineGalaxy',
       'Fathom', 'Zee', 'Men.', 'YFG', 'Gaatri', 'Mon', 'Ghop',
       'Cleopatra', 'Dreamwest', 'SDS', 'Linn', 'Electric', 'Jampa', 'HC',
       'GrtIndia', 'Neon', 'ENTMP', 'Good Deed', 'ParC', 'Aviron',
       'Annapurna', 'Amazon', 'Affirm', 'MOM', 'Orion', 'CFI', 'UTMW',
       'Crimson', 'CAVU', 'EF', 'Arrow', 'Hiber', 'Studio 8',
       'Global Road', 'Trafalgar', 'Greenwich', 'Spanglish', 'Blue Fox',
       'RLJ', 'Swen', 'PackYourBag', 'Gaum.', 'Grindstone',
       'Conglomerate', 'MUBI', 'Darin Southa', 'Super', 'CARUSEL', 'PDF',
       'Synergetic'], dtype=object)

In [8]:
bom['foreign_gross'].isna().value_counts()

False    2037
True     1350
Name: foreign_gross, dtype: int64

In [9]:
bom['domestic_gross'].isna().value_counts()

False    3359
True       28
Name: domestic_gross, dtype: int64

In [10]:
bom['year'].isna().value_counts()

False    3387
Name: year, dtype: int64

In [11]:
dom_gross_bom = bom.dropna(subset=['domestic_gross'])
dom_gross_bom['domestic_gross'].isna().value_counts()

False    3359
Name: domestic_gross, dtype: int64

In [12]:
for_gross_bom = bom.dropna(subset=['foreign_gross'])
for_gross_bom['foreign_gross'].isna().value_counts()

False    2037
Name: foreign_gross, dtype: int64

In [13]:
# Name Basics

In [14]:
name_basics = pd.read_csv('Data/name.basics.csv')
name_basics.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [15]:
name_basics.shape

(606648, 6)

In [16]:
name_basics.columns

Index(['nconst', 'primary_name', 'birth_year', 'death_year',
       'primary_profession', 'known_for_titles'],
      dtype='object')

In [17]:
# rt reviews

In [185]:
rt_movies = pd.read_table('Data/rt.movie_info.tsv')
rt_movies.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [187]:
new_df = rt_movies.dropna(subset=['box_office','genre'])

In [186]:
rt_movies.shape

(1560, 12)

In [179]:
director_df = rt_movies.dropna(subset = ['box_office','director'])
directors = list(director_df.director.unique())

In [180]:
direcor_gross_info = {}
for director in directors:
    director_df = director_df.groupby('director').get_group(direcotr)
    director_gross = {}
    for year in years:
        total = sum(studio_df.groupby('year').get_group(year)[gross_string])
        gross_by_year[str(year)] = total
    gross_info[studio] = gross_by_year
return(gross_info)

['David Cronenberg',
 'Jake Kasdan',
 'Ray Lawrence',
 'Taylor Hackford',
 'George Hickenlooper',
 'Carl Erik Rinsch',
 'Jim Jarmusch',
 'John Sayles',
 'Ken Loach',
 'James Wong',
 'Kevin Lima',
 'Niels Arden Oplev',
 'Patrick Lussier',
 'Tom Hanks',
 'Bruce Beresford',
 'Ben Younger',
 'Derrick Borte',
 'Rob Bowman',
 'Christian Alvart',
 'Thor Freudenthal',
 'Jennifer Jason Leigh|Alan Cumming',
 'Clint Eastwood',
 'Sam Weisman',
 'Martin Campbell',
 'Jamie Blanks',
 'Colin Trevorrow',
 'Rakeysh Omprakash Mehra|Rakeysh Omprakesh Mehra',
 'Jeff Byrd',
 'Derek Cianfrance',
 'Lars von Trier',
 'Gore Verbinski',
 'Todd Graff',
 'Stan Lathan|Vondie Curtis-Hall',
 'Neil Jordan',
 'Todd Haynes',
 'Rob Zombie',
 'Mark Helfrich',
 'Seth MacFarlane',
 'Tim Heidecker|Eric Wareheim',
 'Michael Mann',
 'Ryan Murphy',
 'David Koepp',
 'Jennifer Westfeldt',
 'David Lowery',
 'Seth Gordon',
 'Guillermo del Toro',
 'Mike Leigh',
 'Jeffrey Levy-Hinte',
 'Yimou Zhang',
 'Tyler Perry',
 'Michael Tiddes',
 'Laurence Dunmore',
 'Jorge Blanco',
 'Stephen Bradley',
 'Ang Lee',
 'Darnell Martin',
 'Pete Travis',
 'Dave Grohl',
 'Doug Liman',
 'Tim Story',
 'Kevin Munroe',
 'John Schultz',
 'Christophe Gans',
 'Woody Allen',
 'Rowdy Herrington',
 'Brian Robbins',
 'Leon Gast',
 'Simon Wells',
 'Jayro Bustamante',
 'Nanni Moretti',
 'Rohit Shetty',
 'Adam Shankman',
 'Jared Hess',
 'Jordan Vogt-Roberts',
 'John Stephenson',
 'Tamara Jenkins',
 'Jenniphr Goodman',
 'John Dahl',
 'Jimmy Hayward',
 'Clare Kilner',
 'Trish Sie',
 'Dennis Dugan',
 'Anton Corbijn',
 'Justin Chadwick',
 'Adam Ravetch|Sarah Robertson',
 'Florian Henckel von Donnersmarck',
 'Guy Maddin',
 'James Isaac',
 'Mira Nair',
 'Dave McCary',
 'Joel Zwick',
 'Clay Kaytis|Fergal Reilly',
 'Bill Duke',
 'Mike Tollin|Michael Tollin',
 'William Friedkin',
 'Philip Seymour Hoffman',
 'Stuart Beattie',
 'Paul Thomas Anderson',
 'Gary Fleder',
 'Nick Murphy',
 'Richard Donner',
 'Brad Furman',
 'Jason Friedberg|Aaron Seltzer',
 'Vincent Gallo',
 'Goran Dukic',
 'Martin McDonagh',
 'Sylvester Stallone',
 'Michael Showalter',
 'Barry Levinson',
 'Danny Leiner',
 'Stephen Herek',
 'Sam Mendes',
 'Anthony Bell|Ben Gluck|Benjamin Gluck',
 'Kyle Newman',
 'Steven Spielberg',
 'Werner Herzog',
 'Tim Disney',
 'Peter Webber',
 'Jed Weintrob',
 'Anthony Russo|Joe Russo',
 'Harmony Korine',
 'Robert Pulcini|Shari Springer Berman',
 'Jay Roach',
 'Richard Rush',
 'Charles Shyer',
 'Eric England',
 'Jacques Cluzaud|Jacques Perrin',
 'James Cameron',
 'Robert Schwentke',
 'Cyrus Nowrasteh',
 'Roman Coppola',
 'Jonathan Challis|Susan Crook|John Coffey|Ian Lynch',
 'Francis Veber',
 'Andrzej Bartkowiak',
 'Patty Jenkins',
 'Jesse Dylan',
 'Steven Quale',
 'Gary Winick',
 'David Fincher',
 'Donald Petrie',
 'Danis Tanovic',
 'Mel Gibson',
 'Maggie Greenwald',
 'Michel Hazanavicius',
 'Gia Coppola',
 'Bryan Singer',
 'Rob Schmidt',
 'Hirokazu Koreeda',
 'George Gallo',
 'Lynn Shelton',
 'Peter Jackson',
 'Jeff Tremaine',
 'Paul Feig',
 'Alex Kendrick|Stephen Kendrick',
 'Trent Cooper',
 'Matt Tynauer|Matt Tyrnauer',
 'Glenn Ficarra|John Requa',
 'David Gelb',
 'Henry Selick|Tim Burton',
 'Kenny Ortega',
 'Sofia Coppola',
 'Andrew Dominik',
 'Gary David Goldberg',
 'Navdeep Singh',
 'Peyton Reed',
 'Ewan McGregor',
 'Douglas McGrath',
 'Frank Nissen',
 'Thomas Carter',
 'Marc Forster',
 'Erik Gandini',
 'Daniel Taplitz',
 'Lawrence Kasdan',
 'Jacob Aaron Estes',
 'Steve Carr',
 'Lisa Cholodenko',
 'Robert Stromberg',
 'Steve Oedekerk',
 'Sacha Gervasi',
 'Joe Roth',
 'Curtis Hanson',
 'Tate Taylor',
 'Youssef Delara',
 'Paul Weitz',
 'Eleanor Coppola',
 'Brian Levant',
 'Uli Edel|Ulrich Edel',
 'Mike Binder',
 'Peter Billingsley',
 'Judd Apatow',
 'Walt Becker',
 'David Nixon|Patrick Doughtie',
 'Trey Edward Shults',
 'Peter Lord|Nick Park',
 'Miguel Arteta',
 'Andrew Stanton|Mark Atkins',
 'Chris Columbus',
 'Kevin Smith',
 'David Bowers',
 'Jocelyn Moorhouse',
 'Louis Malle',
 'Ben Stassen',
 'Michael Salomon|Mikael Salomon',
 'Rob Marshall',
 'Fred Savage',
 'Paul Verhoeven',
 'Shana Feste',
 'Steven Soderbergh',
 'Dan Mazer',
 'John Singleton',
 'Jonathan Liebesman',
 'Joe Wright',
 'Britt Allcroft',
 'Oliver Parker',
 'Edgar Wright',
 'Nicholas Jasenovec',
 'John Waters',
 'Maggie Carey',
 'Andrew Tennant|Andy Tennant',
 'Christopher Nolan',
 'Haim Tabakman',
 'Kasi Lemmons',
 'Gus Van Sant',
 'Julian Jarrold',
 'Jeanne Labrune',
 'David Mackenzie',
 'Alexander Payne',
 'Dante Lam',
 'Mark Neveldine|Brian Taylor',
 'Tim McCanlies',
 'Josh Mond',
 'Nick Cassavetes',
 'Ron Clements|John Musker',
 'Ryan Little',
 'Paul Greengrass',
 'John Stockwell',
 'Garry Marshall',
 'Claude Gagnon',
 'Ryan Coogler',
 'Kelly Fremon Craig',
 'Justin Lin',
 'Will Canon',
 'Joel Coen|Ethan Coen',
 'Jane Campion',
 'Ash Brannon',
 'Peter Weir',
 'Sean Penn',
 'James Marsh',
 'Danny Boyle',
 'Lucy Walker',
 'Trey Parker',
 'David Twohy',
 'Benson Lee',
 'Craig Brewer',
 'Peter Berg',
 'David Zucker',
 'Conrad Vernon|Greg Tiernan',
 'Daniel Lee',
 'Keenen Ivory Wayans',
 'Peter Landesman',
 'Tom Dey',
 'Alex Proyas',
 'Harald Zwart',
 'Michel Gondry',
 'Bobby Farrelly|Peter Farrelly',
 'Ricki Stern|Anne Sundberg',
 'Ridley Scott',
 'Robert Ramirez',
 'Cameron Crowe',
 'Vikramaditya Motwane',
 'Ciro Guerra',
 'Joss Whedon',
 'Gauri Shinde',
 'Sebastian Gutierrez']

In [19]:
rt_movies['synopsis'][0]

'This gritty, fast-paced, and innovative police drama earned five Academy Awards, including Best Picture, Best Adapted Screenplay (written by Ernest Tidyman), and Best Actor (Gene Hackman). Jimmy "Popeye" Doyle (Hackman) and his partner, Buddy Russo (Roy Scheider), are New York City police detectives on narcotics detail, trying to track down the source of heroin from Europe into the United States. Suave Alain Charnier (Fernando Rey) is the French drug kingpin who provides a large percentage of New York City\'s dope, and Pierre Nicoli (Marcel Bozzuffi) is a hired killer and Charnier\'s right-hand man. Acting on a hunch, Popeye and Buddy start tailing Sal Boca (Tony Lo Bianco) and his wife, Angie (Arlene Faber), who live pretty high for a couple whose corner store brings in about 7,000 dollars a year. It turns out Popeye\'s suspicions are right -- Sal and Angie are the New York agents for Charnier, who will be smuggling 32 million dollars\' worth of heroin into the city in a car shipped over from France. The French Connection broke plenty of new ground for screen thrillers; Popeye Doyle was a highly unusual "hero," an often violent, racist, and mean-spirited cop whose dedication to his job fell just short of dangerous obsession. The film\'s high point, a high-speed car chase with Popeye tailing an elevated train, was one of the most viscerally exciting screen moments of its day and set the stage for dozens of action sequences to follow. And the film\'s grimy realism (and downbeat ending) was a big change from the buff-and-shine gloss and good-guys-always-win heroics of most police dramas that preceded it. The French Connection was inspired by a true story, and Eddie Egan and Sonny Grosso, Popeye and Buddy\'s real life counterparts, both have small roles in the film. A sequel followed four years later.'

In [20]:
rt_movies['rating'].value_counts()

R        521
NR       503
PG       240
PG-13    235
G         57
NC17       1
Name: rating, dtype: int64

In [21]:
rt_movies.shape

(1560, 12)

In [22]:
rt_movies.columns

Index(['id', 'synopsis', 'rating', 'genre', 'director', 'writer',
       'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime',
       'studio'],
      dtype='object')

In [23]:
rt_movies['director'].value_counts()

Steven Spielberg              10
Clint Eastwood                 8
Bruce Beresford                4
Alfred Hitchcock               4
Woody Allen                    4
                              ..
Zeresenay Berhane Mehari       1
Tom Shell                      1
Jean-Claude Brisseau           1
Guerdon Trueblood              1
Conrad Vernon|Greg Tiernan     1
Name: director, Length: 1125, dtype: int64

In [24]:
rt_movies[['currency','box_office']]

     currency  box_office
0         NaN         NaN
1           $     600,000
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN
...       ...         ...
1555        $  33,886,034
1556      NaN         NaN
1557      NaN         NaN
1558      NaN         NaN
1559      NaN         NaN

[1560 rows x 2 columns]

In [25]:
#rt reviews

In [26]:
rt_reviews = pd.read_csv('Data/rt.reviews.tsv', delimiter='\t', encoding='ISO-8859-1')
rt_reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [27]:
rt_reviews.shape

(54432, 8)

In [28]:
rt_reviews.columns

Index(['id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher',
       'date'],
      dtype='object')

In [60]:
rt_reviews['id'].value_counts()

782     338
1067    275
1525    262
1777    260
1083    260
       ...
28        1
102       1
348       1
476       1
1727      1
Name: id, Length: 1135, dtype: int64

In [29]:
#title akas

In [30]:
title_akas = pd.read_csv('Data/title.akas.csv')
title_akas.head()

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

In [31]:
title_akas.columns

Index(['title_id', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'is_original_title'],
      dtype='object')

In [32]:
#title basics

In [33]:
title_basics = pd.read_csv('Data/title.basics.csv')
title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [34]:
title_basics.shape

(146144, 6)

In [35]:
title_basics.columns

Index(['tconst', 'primary_title', 'original_title', 'start_year',
       'runtime_minutes', 'genres'],
      dtype='object')

In [36]:
title_basics['runtime_minutes'].isna().value_counts()

False    114405
True      31739
Name: runtime_minutes, dtype: int64

In [37]:
# title crew

In [38]:
title_crew = pd.read_csv('Data/title.crew.csv')

In [39]:
title_crew.head()

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

In [40]:
title_crew.columns

Index(['tconst', 'directors', 'writers'], dtype='object')

In [41]:
title_crew.shape

(146144, 3)

In [42]:
#title principals

In [43]:
title_principals = pd.read_csv('Data/title.principals.csv')
title_principals.head()

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

In [44]:
title_principals.columns

Index(['tconst', 'ordering', 'nconst', 'category', 'job', 'characters'], dtype='object')

In [45]:
title_principals.shape

(1028186, 6)

In [46]:
# title ratings

In [47]:
title_ratings = pd.read_csv('Data/title.ratings.csv')
title_ratings.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [48]:
title_ratings.columns

Index(['tconst', 'averagerating', 'numvotes'], dtype='object')

In [49]:
title_ratings.shape

(73856, 3)

In [50]:
#tmdb movies

In [5]:
tmdb_movies = pd.read_csv('Data/tmdb.movies.csv')
tmdb_movies.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [10]:
list(tmdb_movies['genre_ids'][0].split())

['[12,', '14,', '10751]']

In [52]:
tmdb_movies.shape

(26517, 10)

In [53]:
tmdb_movies.columns

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [54]:
#tn movie budgets

In [2]:
tn_movie_budgets = pd.read_csv('Data/tn.movie_budgets.csv')

In [3]:
tn_movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [59]:
tn_movie_budgets['worldwide_gross'].isna().value_counts()

False    5782
Name: worldwide_gross, dtype: int64

In [56]:
tn_movie_budgets.columns

Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')

In [57]:
tn_movie_budgets.shape

(5782, 6)

In [58]:
'''
shrek
'''

'\nshrek\n'

In [59]:
tmdb_movies[tmdb_movies['original_title'].str.contains('Shrek')]

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
38,38,"[35, 12, 14, 16, 10751]",10192,en,Shrek Forever After,15.041,2010-05-16,Shrek Forever After,6.1,3843
294,294,"[14, 16, 18, 35, 878, 10751]",51256,en,Donkey's Christmas Shrektacular,7.265,2010-12-07,Donkey's Christmas Shrektacular,5.3,70
328,328,"[16, 35]",48466,en,Scared Shrekless,6.682,2010-10-28,Scared Shrekless,6.2,177
559,559,[],151316,en,Shrek’s Yule Log,3.424,2010-12-07,Shrek’s Yule Log,4.7,9
8468,8468,"[35, 10402, 14]",381696,en,Shrek the Musical,4.590,2013-09-17,Shrek the Musical,7.2,44

In [60]:
tn_movie_budgets[tn_movie_budgets['movie'].str.contains('Shrek')]

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
126,27,"May 21, 2010",Shrek Forever After,"$165,000,000","$238,736,787","$756,244,673"
136,37,"May 17, 2007",Shrek the Third,"$160,000,000","$322,719,944","$807,330,936"
692,93,"May 19, 2004",Shrek 2,"$70,000,000","$441,226,247","$937,008,132"
1082,83,"May 18, 2001",Shrek,"$50,000,000","$267,655,011","$491,812,794"

KeyError: 'genre_ids'

In [61]:
'''
Mergine Tables Where Possible
'''

'\nMergine Tables Where Possible\n'

In [62]:
title_merge = title_akas.merge(title_basics, 
                               how = 'outer', 
                               left_on = 'title_id',
                               right_on = 'tconst')

In [63]:
title_merge.head()

,title_id,ordering,title,region,language,types,attributes,is_original_title,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0369610,10.0,Джурасик свят,BG,bg,NaN,NaN,0.0,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi"
1,tt0369610,11.0,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi"
2,tt0369610,12.0,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi"
3,tt0369610,13.0,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi"
4,tt0369610,14.0,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi"

In [64]:
title_merge.shape

(355545, 14)

In [65]:
title_akas.shape

(331703, 8)

In [66]:
title_basics.shape

(146144, 6)

In [67]:
title_principals.shape

(1028186, 6)

In [68]:
title_ratings.shape

(73856, 3)

In [69]:
title_crew.shape

(146144, 3)

In [70]:
title_merge.shape

(355545, 14)

In [71]:
title_merge = title_merge.join(title_principals.set_index('tconst'))

ValueError: columns overlap but no suffix specified: Index(['ordering'], dtype='object')

In [ ]:
title_merge.head()